# Eclipse
.classpath
.project
.settings


# IntelliJ
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

# Netbeans
nbproject/private/

# Krita
*.kra

# Tiled
*~
public_html/sprites/cat.ase
public_html/sprites/vautour.ase
